<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <!-- Add Employee -->
    <servlet>
        <servlet-name>AddEmployee</servlet-name>
        <servlet-class>com.servlet.AddEmployeeServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AddEmployee</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>

    <!-- Update Employee -->
    <servlet>
        <servlet-name>UpdateEmployee</servlet-name>
        <servlet-class>com.servlet.UpdateEmployeeServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UpdateEmployee</servlet-name>
        <url-pattern>/update</url-pattern>
    </servlet-mapping>

    <!-- Delete Employee -->
    <servlet>
        <servlet-name>DeleteEmployee</servlet-name>
        <servlet-class>com.servlet.DeleteEmployeeServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DeleteEmployee</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>

    <!-- Display Employee -->
    <servlet>
        <servlet-name>DisplayEmployee</servlet-name>
        <servlet-class>com.servlet.DisplayEmployeeServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DisplayEmployee</servlet-name>
        <url-pattern>/display</url-pattern>
    </servlet-mapping>

    <!-- Report Criteria -->
    <servlet>
        <servlet-name>ReportCriteria</servlet-name>
        <servlet-class>com.servlet.ReportCriteriaServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ReportCriteria</servlet-name>
        <url-pattern>/reportCriteria</url-pattern>
    </servlet-mapping>

</web-app>